<div class="col-2 sidebar flex-center-full">
    <div class="sidebar__content">
        <div class="sidebar__img">
            <img src="" class="img-fluid" alt="">
        </div>
        <nav class="sidebar__nav">
            <ul class="sidebar__ul">
                 <li class="sidebar__item">
                    <a href="#acerca-de-mi" >
                        Acerca de mi
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#proyectos" >
                        Proyectos
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#experiencia-laboral" >
                        Experiencia laboral
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#formacion" >
                        Formacion
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#habilidades" >
                        Habilidades
                    </a>
                </li>
               
            </ul>
        </nav>
    </div>
</div>