<div class="col-2 sidebar flex-center-full">
    <div class="sidebar__content">
        <div class="sidebar__img">
            <img src="" class="img-fluid" alt="">
        </div>
        <nav class="sidebar__nav">
            <ul class="sidebar__ul">
                 <li class="sidebar__item">
                    <a href="../index.html" >
                        Acerca de mi
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="./projects.html" >
                        Proyectos
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="./work-experience.html" >
                        Experiencia laboral
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="./training.html" >
                        Formacion
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="./skills.html" >
                        Habilidades
                    </a>
                </li>
               
            </ul>
        </nav>
    </div>
</div>