.sidebar__ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
}

li {
    list-style: none;
}

.sidebar__item > a {
    text-decoration: none;
    color: white;
}

.sidebar {
    background: var(--color-azul-claro);
}
