<div class="content__section content__section--about">
  <h1 class="content__title">
    <strong> Yaneri Perdomo Paola Barrios </strong>
  </h1>
  <h2 class="content__subtitle">
    <b>
      Ingeniera de sistemas | Desarrolladora Front-end Jr | Desarrolladora Back-end Jr
    </b>
  </h2>
  <p class="content__description">
    Aplico tecnologías como HTML, CSS, JavaScript, Bootstrap, PHP y MySQL.
    Actualmente estoy aprendiendo y perfeccionando el framework Laravel. También
    tengo experiencia en la creación de diagramas UML para documentación de
    proyectos, lo que me permite estructurar y visualizar sistemas de forma
    eficiente. Además, tengo experiencia en soporte técnico, con especial
    énfasis en la resolución de problemas de software.
  </p>
  <section class="contact">
    <h3 class="contact__title text-light-blue">
      <b> Información</b>
    </h3>
    <ul class="contact__list">
      <li class=" text-light-blue contact__list-item">
        <i class="bi bi-flag contact__icon"></i>
        Zulia, Venezuela
      </li>
      <li class=" text-light-blue contact__list-item">
        <i class="bi bi-envelope contact__icon"></i>
        perdomopaolabarrios@gmail.com
      </li>
      <li class=" text-light-blue contact__list-item">
        <i class="bi bi-calendar3-event contact__icon"></i> 05/11/2003
      </li>
      <li class=" text-light-blue contact__list-item">
        <i class="bi bi-telephone contact__icon"></i> 58+ 0412-473-9997
      </li>
      <li class=" text-light-blue contact__list-item">
        <i class="bi bi-github"></i> <a href="http://github.com/YaneriPerdomo?tab=repositories"
        target="_blank"
        class="text-decoration-none text-light-blue">GitHub</a>
      </li>
      <li class=" text-light-blue contact__list-item">
        <i class="bi bi-file-image-fill"></i> <a href="https://www.instagram.com/yaneri_perdomo.php/"
        target="_blank"
        class="text-decoration-none text-light-blue">Instagram</a>
      </li>      
    </ul>
  </section>
  <section class="soft-skills">
    <h3 class="soft-skills__title text-light-blue">
      <b>Habilidades blandas</b>
    </h3>
    <ul class="soft-skills__list">
      <li class=" soft-skills__list-item text-light-blue">
        Escucha Activa.
      </li>
      <li class=" soft-skills__list-item text-light-blue">Empatía.</li>
      <li class=" soft-skills__list-item text-light-blue">Responsabilidad.</li>
      <li class=" soft-skills__list-item text-light-blue">Puntualidad.</li>
      <li class=" soft-skills__list-item text-light-blue">Análisis y reflexión.</li>
    </ul>
  </section>
  <div>
    <a href="./pdf/Curriculum-Yaneri-Perdomo.PDF" download="./pdf/Curriculum-Yaneri-Perdomo.PDF" class="button__black text-decoration-none fw-bold">DESCARGAR CV</a>  </div>
    <br>
  </div>
