<div class="content__div">
 
  <h1 class="content__title">
    <strong> Proyectos </strong>
  </h1>
  <p class="content__description">
    A continuación, se presenta una selección de proyectos que ilustran mi
    evolución como desarrolladora web. Inicialmente, mi enfoque se centró en el
    desarrollo de la interfaz de usuario (front-end), perfeccionando mis
    habilidades en la creación de experiencias visuales atractivas.
    Posteriormente, amplié mis conocimientos al desarrollo del lado del servidor
    (back-end), lo que me permitió crear aplicaciones web completas y
    funcionales.
  </p>
  <div class="content__proyects">
    <div class="card-group">
      <div class="card">
        <figure>
          <img src="./img/calidad-financiera/indicator.JPG" ... alt="" class="card__img img-fluid" />
        </figure>
        <div>
          <h2 class="card__title fs-3">
            Aplicacion web para la gestion de finanzas personales
          </h2>

          <hr class="card__separator" />
          <div class="tools">
            <span class="tools__item tools__item--HTML"
              ><i class="bi bi-filetype-html"></i> HTML</span
            >
            <span class="tools__item tools__item--CSS">CSS</span>
            <span class="tools__item tools__item--JS">Javascript</span>
            <span class="tools__item tools__item--BS">Bootstrap</span>
            <span class="tools__item tools__item--PHP">PHP</span>
            <span class="tools__item tools__item--MYSQL">MySQL</span>
            <span class="tools__item tools__item--OTHER">MVC</span>
            <span class="tools__item tools__item--OTHER">AJAX</span>
          </div>
          <div class="card__link text-right flex-ce">
            <a href="#proyecto-calidad-financiera">Ver más</a> <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <figure>
          <img src="./img/sonidos-del-habla/index.JPG" ... alt="" class="card__img img-fluid" />
        </figure>
        <div>
          <h2 class="card__title fs-3">
            Aplicación web para sesiones de logopedia personalizadas para
            dislalia
          </h2>
          <hr class="card__separator" />
          <div class="tools">
            <span class="tools__item tools__item--HTML"
              ><i class="bi bi-filetype-html"></i> HTML</span
            >
            <span class="tools__item tools__item--CSS">CSS</span>
            <span class="tools__item tools__item--JS">Javascript</span>
            <span class="tools__item tools__item--BS">Bootstrap</span>
            <span class="tools__item tools__item--PHP">PHP</span>
            <span class="tools__item tools__item--MYSQL">MySQL</span>
            <span class="tools__item tools__item--OTHER">AJAX</span>
          </div>
          <div class="card__link text-right">
            <a href="#proyecto-sonidos-del-habla">Ver más</a> <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <figure>
          <img src="./img/space-n/read.JPG" ... alt="" class="card__img img-fluid" />
        </figure>
        <div>
          <h2 class="card__title fs-3">
            Aplicación web para niños de primaria con discalculia
          </h2>
          <hr class="card__separator" />
          <div class="tools">
            <span class="tools__item tools__item--HTML"
              ><i class="bi bi-filetype-html"></i> HTML</span
            >
            <span class="tools__item tools__item--CSS">CSS</span>
            <span class="tools__item tools__item--JS">Javascript</span>
            <span class="tools__item tools__item--BS">Bootstrap</span>
            <span class="tools__item tools__item--PHP">PHP</span>
            <span class="tools__item tools__item--MYSQL">MySQL</span>
            <span class="tools__item tools__item--OTHER">AJAX</span>
          </div>
          <div class="card__link text-right">
            <a href="#proyecto-espacio-n">Ver más</a> <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <figure>
          <img  src="./img/tu-puedes/create-account.JPG" ... alt="" class="card__img img-fluid" />
        </figure>
        <div>
          <h2 class="card__title fs-3">
            Aplicación web para el aprendizaje de la lectoescritura en niños con dislexia en etapa primaria
          </h2>
          <hr class="card__separator" />
          <div class="tools">
            <span class="tools__item tools__item--HTML"
              ><i class="bi bi-filetype-html"></i> HTML</span
            >
            <span class="tools__item tools__item--CSS">CSS</span>
            <span class="tools__item tools__item--JS">Javascript</span>
            <span class="tools__item tools__item--BS">Bootstrap</span>
            <span class="tools__item tools__item--PHP">PHP</span>
          </div>
          <div class="card__link text-right">
            <a href="#proyecto-tu-puedes">Ver más</a> <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <figure>
          <img src="./img/chat-bot/chat-bot02.JPG" ... alt="" class="card__img img-fluid" />
        </figure>
        <div>
          <h2 class="card__title fs-3">
            Asistente Virtual para la Universidad Dr. José Gregorio Hernández
          </h2>
          <hr class="card__separator" />
          <div class="tools">
            <span class="tools__item tools__item--HTML"
              ><i class="bi bi-filetype-html"></i> HTML</span
            >
            <span class="tools__item tools__item--CSS">CSS</span>
            <span class="tools__item tools__item--JS">Javascript</span>
            <span class="tools__item tools__item--PHP">PHP</span>
            <span class="tools__item tools__item--MYSQL">MySQL</span>
            <span class="tools__item tools__item--OTHER">AJAX</span>
          </div>
          <div class="card__link text-right">
            <a href="#proyecto-asistente-virtual-gregorin">Ver más</a> <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
