<!doctype html>
<html lang="es" class="full-h">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> </title>
    <link rel="stylesheet" href="../css/utilities.css">
    <link rel="stylesheet" href="../css/components/_card.css">
    <link rel="stylesheet" href="../css/components/_content.css">
    <link rel="stylesheet" href="../css/components/_sidebar.css">
    <link rel="stylesheet" href="../css/components/_tools.css">
    <link rel="stylesheet" href="../css/layouts/_base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<style></style>

<body class="h-100">

    <main class="h-100">

        <div class="container-xl h-100">
            <div class="row h-100 w-100 ">
                <div data-include="./view/components/sidebar.html"></div>

                <div class="col-10 content">
                    <div class="content__div">
                        <h1 class="content__title">
                            <strong>
                                Proyectos
                            </strong>
                        </h1>
                        <p class="content__description">
                            A continuación, se presenta una selección de proyectos que ilustran mi evolución como desarrolladora web. Inicialmente, mi enfoque se centró en el desarrollo de la interfaz de usuario (front-end), perfeccionando mis
                            habilidades en la creación de experiencias visuales atractivas. Posteriormente, amplié mis conocimientos al desarrollo del lado del servidor
                            (back-end), lo que me permitió crear aplicaciones web completas y funcionales.
                        </p>
                        <div class="content__proyects">
                            <div class="card-group">
                                <div class="card">
                                    <figure>
                                        <img src="" ... alt="" class="card__img">
                                    </figure>
                                    <div>
                                        <h2 class="card__title fs-3">Aplicacion web para la gestion de finanzas personales</h2>

                                        <hr class="card__separator">
                                        <div class="tools">
                                            <span class="tools__item tools__item--HTML"><i class="bi bi-filetype-html"></i> HTML</span>
                                            <span class="tools__item tools__item--CSS">CSS</span>
                                            <span class="tools__item tools__item--JS">Javascript</span>
                                            <span class="tools__item tools__item--BS">Bootstrap</span>
                                            <span class="tools__item tools__item--PHP">PHP</span>
                                            <span class="tools__item tools__item--MYSQL">MySQL</span>
                                            <span class="tools__item tools__item--OTHER">MVC</span>
                                            <span class="tools__item tools__item--OTHER">AJAX</span>

                                        </div>
                                        <div class="card__link text-right flex-ce">
                                            <a href="#proyectos-05">Ver mas</a><i class="bi bi-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <figure>
                                        <img src="" ... alt="" class="card__img">
                                    </figure>
                                    <div>
                                        <h2 class="card__title fs-3">Aplicación web para sesiones de logopedia personalizadas para dislalia</h2>
                                        <hr class="card__separator">
                                        <div class="tools">
                                            <span class="tools__item tools__item--HTML"><i class="bi bi-filetype-html"></i> HTML</span>
                                            <span class="tools__item tools__item--CSS">CSS</span>
                                            <span class="tools__item tools__item--JS">Javascript</span>
                                            <span class="tools__item tools__item--BS">Bootstrap</span>
                                            <span class="tools__item tools__item--PHP">PHP</span>
                                            <span class="tools__item tools__item--MYSQL">MySQL</span>
                                            <span class="tools__item tools__item--OTHER">AJAX</span>

                                        </div>
                                        <div class="card__link text-right">
                                            <a href="">Ver mas</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <figure>
                                        <img src="" ... alt="" class="card__img">
                                    </figure>
                                    <div>
                                        <h2 class="card__title fs-3">Aplicación web para niños de primaria con discalculia </h2>
                                        <hr class="card__separator">
                                        <div class="tools">
                                            <span class="tools__item tools__item--HTML"><i class="bi bi-filetype-html"></i> HTML</span>
                                            <span class="tools__item tools__item--CSS">CSS</span>
                                            <span class="tools__item tools__item--JS">Javascript</span>
                                            <span class="tools__item tools__item--BS">Bootstrap</span>
                                            <span class="tools__item tools__item--PHP">PHP</span>
                                            <span class="tools__item tools__item--MYSQL">MySQL</span>
                                            <span class="tools__item tools__item--OTHER">AJAX</span>
                                        </div>
                                        <div class="card__link text-right">
                                            <a href="">Ver mas</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <figure>
                                        <img src="" ... alt="" class="card__img">
                                    </figure>
                                    <div>
                                        <h2 class="card__title fs-3">Aplicacion web interactiva para niños de primaria con dislexia.</h2>
                                        <hr class="card__separator">
                                        <div class="tools">
                                            <span class="tools__item tools__item--HTML"><i class="bi bi-filetype-html"></i> HTML</span>
                                            <span class="tools__item tools__item--CSS">CSS</span>
                                            <span class="tools__item tools__item--JS">Javascript</span>
                                            <span class="tools__item tools__item--BS">Bootstrap</span>
                                            <span class="tools__item tools__item--PHP">PHP</span>
                                        </div>
                                        <div class="card__link text-right">
                                            <a href="">Ver mas</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <figure>
                                        <img src="" ... alt="" class="card__img">
                                    </figure>
                                    <div>
                                        <h2 class="card__title fs-3">Asistente Virtual para la Universidad Dr. José Gregorio Hernández </h2>
                                        <hr class="card__separator">
                                        <div class="tools">
                                            <span class="tools__item tools__item--HTML"><i class="bi bi-filetype-html"></i> HTML</span>
                                            <span class="tools__item tools__item--CSS">CSS</span>
                                            <span class="tools__item tools__item--JS">Javascript</span>
                                            <span class="tools__item tools__item--PHP">PHP</span>
                                            <span class="tools__item tools__item--MYSQL">MySQL</span>
                                            <span class="tools__item tools__item--OTHER">AJAX</span>

                                        </div>
                                        <div class="card__link text-right">
                                            <a href="">Ver mas</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>