<div class="content__section content__section--formal-training">
    <h1 class="content__title">
        <strong class="content__highlight">Educación Formal</strong>
    </h1>

    <section class="education">
        <div class="education__block">
            <h2 class="education__title text-dark-blue">
                <strong class=" text-dark-blue">Educación Superior Universitaria</strong>
            </h2>
            <ol class="education__list">
                <li class="education__item text-light-blue">Ingeniera en Sistemas, egresada de la Universidad Dr. José Gregorio Hernández, ubicada en Maracaibo, Estado Zulia. Venezuela (2021-2025).</li>
            </ol>
        </div>

        <div class="education__block">
            <h2 class="education__title text-dark-blue">
                <strong class=" text-dark-blue">Educación Secundaria</strong>
            </h2>
            <ol class="education__list">
                <li class="education__item text-light-blue">Bachiller en Ciencias, Liceo U.E.N Luis Urdaneta, ubicado en San Francisco, Zulia. Venezuela (2016-2020).</li>
                <li class="education__item text-light-blue">E.B. "Gral. Rafael Urdaneta Fe y Alegría, de Manzanillo" (2015-2016).</li>
            </ol>
        </div>

        <div class="education__block">
            <h2 class="education__title text-dark-blue">
                <strong class=" text-dark-blue">Educación Primaria</strong>
            </h2>
            <ol class="education__list">
                <li class="education__item text-light-blue">Título de Sexto Grado en la Escuela Nacional "Josefina de Acosta", ubicada en San Francisco, Zulia (2011-2015).</li>
                <li class="education__item text-light-blue">U.E. Lev Vygotski, ubicada en San Francisco, Zulia (2008-2011).</li>
            </ol>
        </div>

      
    </section>

    <h2 class="content__title">
        <strong class="content__highlight">Cursos</strong>
    </h2>

    <section class="course">
        <ol class="course__list">
            <li class="course__item">
                <h3 class="course__title course__title--dark-blue">
                    <strong class=" text-dark-blue">Desarrollo de habilidades en ensamblaje, diagnóstico y mantenimiento de computadoras.</strong>
                </h3>
                <p class="course__description text-light-blue">
                    <span class="course__meta">Ubicación:</span> Universidad Dr. José Gregorio Hernández, Maracaibo, 2023 (16 horas).
                </p>
            </li>

            <li class="course__item">
                <h3 class="course__title course__title--dark-blue">
                    <strong class=" text-dark-blue">Desarrollo de habilidades en programación con el lenguaje Python.</strong>
                </h3>
                <p class="course__description text-light-blue">
                    <span class="course__meta">Ubicación:</span> Universidad Dr. José Gregorio Hernández, Maracaibo, 2023 (16 horas).
                </p>
            </li>
            <li class="course__item">
                <h3 class="course__title text-dark-blue">
                    <strong class="course__highlight">Desarrollo de habilidades en administración de bases de datos con MySQL.</strong>
                </h3>
                <p class="course__description text-light-blue">
                    <span class="course__meta">Ubicación:</span> Universidad Dr. José Gregorio Hernández, Maracaibo, 2023 (16 horas).
                </p>
            </li>

            <li class="course__item">
                <h3 class="course__title text-dark-blue">
                    <strong class="course__highlight">Reparación de hardware y software de computadoras.</strong>
                </h3>
                <p class="course__description text-light-blue">
                    <span class="course__meta">Ubicación:</span> Centro Educativo Integral 'Tamanaco', 2019 (10 semanas).
                </p>
            </li>
            <br>
</div>