<div class="content__div work-experience">
  <h1 class="content__title">
    <strong> Experiencia laboral </strong>
  </h1>
  <section class="job">
    <div class="job__content">
      <h2 class="job__title text-dark-blue">
        <b>
          Pasantias en la Universidad Dr. José Gregorio Hernández
          <small> (2024 - 2024) </small></b
        >
      </h2>
      <ul class="job__list">
        <li class="job__activities text-light-blue">
          Soporte técnico informático a nivel de software.
        </li>
      </ul>
    </div>
    <div class="job__content">
      <h2 class="job__title text-dark-blue">
        <b>
          Pasantias en el Concejo Municipal de Maracaibo
          <small> (2024 - 2024) </small></b
        >
      </h2>
      <ul class="job__list">
        <li class="job__activities text-light-blue">
          Desarrollo y diseño de una aplicación web para la gestión de archivos.
        </li>
        <li class="job__activities text-light-blue">
          Instalación de una cámara de seguridad.
        </li>
      </ul>
    </div>
    <div class="job__content">
      <h2 class="job__title text-dark-blue">
        <b>
          Restaurante Don pescadon <small>(2023 - Presente) </small></b
        >
      </h2>
      <ul class="job__list">
        <li class="job__activities text-light-blue">
          Atención al cliente durante la venta de platos del restaurante.
        </li>
        <li class="job__activities text-light-blue">
          Desempeño en el área de cobranzas.
        </li>
        <li class="job__activities text-light-blue">
          Asistencia con la limpieza y el mantenimiento del área de trabajo.
        </li>
      </ul>
    </div>
  </section>
  <br>
</div>
